@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    scroll-behavior: smooth;
}
body{
    background-color: #dadada !important;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.header{
    background-color: #24262b;
    padding: 70px 0;
}
.header-col{
    width: 25%;
    padding: 0 15px;
}
.header-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.header-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.header-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.header-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}
.header-col ul li a:hover{
    color: #ffffff;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}
.footer-col ul li a:hover{
    color: #ffffff;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #dadada;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #24262b;
    transition: all 0.5s ease;
    border: 2px solid #dadada;
}
.footer-col .social-links a:hover{
    color: #dadada;
    background-color: #24262b;
    border: 2px solid #dadada;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 10px;
    font-size: 15px;
}
.dropdown-content a{
    color: #bbbbbb;
}
.dropdown-content a:hover{
    color: #ffffff;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown span{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}
.dropdown span:hover{
    color: #ffffff;
}
.logo{
    color:white;
    list-style: none;
    text-decoration: none;
}
.diensten-header{
    text-decoration: none;
    color: #bbbbbb;
}
.diensten-header:hover{
    color: #FFFFFF;
}
.over-ons-header{
    text-decoration: none;
    color: #bbbbbb;
}
.over-ons-header:hover{
    color: #FFFFFF;
}
.flex-container {
    display: flex;
    flex-direction: row;
    background-color: #dadada;
    height: 500px;
}
.div1{
    background-color: #dadada;
    width: 60%;
    margin-left: 0px;
    margin-right: auto;
    font-size: 25px;
    padding: 70px;
}
.div2 img{
    background-color: #dadada;
    width: 100%;
    height: 100%;
    margin-right: 0%;
    margin-left: auto;
    text-align: center;
    padding: 70px;
}
.contactformulier{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}
.contactformulier:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/bpg.jpg") no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}
.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    background-color: #24262b;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
.left{
    height: 100%;
    background: url("../img/bpg.jpg") no-repeat center;
    background-size: cover;
}
.right{
    padding: 25px 40px;
}
h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}
h2:after{
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0;
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #e91e63;
}
.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: #ffffff;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    font-family: 'Poppins', sans-serif; 
}
.field:hover{
  background-color: #bbbbbb;
}
.field:focus{
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}
.area{
    min-height: 150px;
    font-family: 'Poppins', sans-serif;
}
.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #e91e63;
    cursor: pointer;
    outline: none;
    border: none;
    color: #24262b;
    transition: .3s;
    font-family: 'Poppins', sans-serif;
}
.btn:hover{
        background-color: #bbb;
}
.flex-container1{
    display: flex;
    flex-direction: row;
}
.div11 {
    background-color: #dadada;
    width: 50%;
    margin-left: 0px;
    margin-right: auto;
    height: auto;
    padding: 30px;
    margin-top: 0px;
    margin-bottom: 80px;
}
.div21 {
    background-color: #dadada;
    width: 50%;
    height: auto;
    margin-right: 20px;
    margin-left: auto;
    margin-bottom: 20px;
    margin-top: -120px;
}
.div21 img {
    background-color: #dadada;
    display: flex;
    margin-left: auto;
    margin-right: 0%;
    width: 100%;
    size: auto;
    margin-top: 0%;
}
.box1 {
   background-color: #dadada;
   box-sizing: border-box;
   float: left;
   width: 50%;
   height: 50%;
   margin: 0;
   padding: 0;
   color: #24262b;
   line-height: 1.5em;
   font-size: 1vw;
}
.box1:first-child .myButton {
    margin-left: 85px;
}
.box1:nth-child(2) .myButton {
 margin-left: 85px;
}
.box1 h1 {
    background-color: #dadada;
    font-size: 15;
    margin-bottom: 0;
    padding: 0;
    line-height: 1em;
    margin-top: 3px;
}
.myButton {
	display:inline-block;
	padding:6px 24px;
	text-decoration:none;
    margin-bottom: 	10px;
    margin-top: 10px;
    text-align: center;
    margin-left: 100px;
    transition: 0.3s;
    border: 2px solid #24262b;
    color: #dadada;
    background-color:#24262b;
}
.myButton:hover {
    border: 2px solid #24262b;
    background-color: #dadada;
    color: #24262b;
}
.myButton:active {
	position:relative;
	top:1px;
}
.div21 img {
    background-color: #dadada;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}
.right p {
    color: #bbbbbb;
    padding: 20px;
    text-align: start;
}
.flex-container {
    display: flex;
    flex-direction: row;    
}
.flex-container h2 {
    color: #24262b !important;
}
.websites-maken-1 {
    background-color: #FFFFFF;
    width: 55%;
    margin-left: 0px;
    margin-right: auto;
    text-align: left;
    color: #24262b;
    background-color: #dadada;
    padding: 30px 60px
}
.websites-maken-2 {
    background-color: #dadada;
    width: 45%;
    margin-right: 0%;
    margin-left: auto;
    text-align: left;
}
.websites-maken-image {
    size: auto;
    display: flex; 
    width: 100%;
    height: 100%;
}
.websites-maken-1 a {
    text-decoration: none;
    padding: 10px;
    background-color: #24262b;
    color: #bbb;
    font-size: 20px;
    border: 2px solid #24262b;
}
.websites-maken-1 a:hover {
    background-color: #dadada;
    color: #24262b;
    transition: .3s;
    border: 2px solid #24262b;
}
.p-websites {
    margin: 30px 0px 30px 0px;
}
.apps-maken-1 {
    width: 45%;
    margin-left: 0px;
    margin-right: auto;
    text-align: left;
}
.apps-image {
    size: auto;
    display: flex;
    width: 100%;
    height: 100%;
}
.apps-maken-2 {
    width: 55%;
    margin-left: auto;
    margin-right: 0px;
    text-align: left;
    padding: 30px 60px 30px 60px; 
    background-color: #dadada;  
    color: #24262b;
}
.apps-maken-2 a {
    text-decoration: none;
    padding: 10px;
    background-color: #24262b;
    color: #bbb;
    font-size: 20px;
    border: 2px solid #24262b;
}
.apps-maken-2 a:hover {
    background-color: #dadada;
    color: #24262b;
    transition: .3s;
    border: 2px solid #24262b;
}
.p-apps {
    margin: 30px 0px 30px 0px;
}
.flex-container-2 {
    display: flex;
    flex-direction: row;
    background-color: #24262b;
}
.flex-container-2 h1 {
    color: #dadada;
}
.review-1 {
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 30px 50px 60px;
}
.review-2 {
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 30px 50px 30px;
}
.review-3 {
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 60px 50px 30px;
}
.software-1 {
    background-color: #dadada;
    color: #24262b;
    width: 55%;
    margin-left: 0px;
    margin-right: auto;
    text-align: left;
    padding: 30px 60px 30px 60px;
}
.software-1 a {
    text-decoration: none;
    padding: 10px;
    background-color: #24262b;
    color: #bbb;
    font-size: 20px;
    border: 2px solid #24262b;
}
.software-1 a:hover {
    background-color: #dadada;
    color: #24262b;
    transition: .3s;
    border: 2px solid #24262b;
}
.flex-container-3 {
    display: flex;
    flex-direction: row;  
}
.flex-container-3 h2 {
    margin: 0px 0px 20px 0px;
    color: #24262b;
}
.flex-container-3 p {
    color: #24262b;
    margin-bottom: 30px;
}
.software-2 {
    background-color: #FFFFFF;
    width: 45%;
    margin-left: 0px;
    margin-right: auto;
    text-align: left; 
}
.software-image {
    size: auto;
    display: flex; 
    width: 100%;
    height: 100%;
}
.bugs-oplossen-1 {
    background-color: #FFFFFF;
    width: 45%;
    margin-left: auto;
    margin-right: 0%;
    text-align: left;
}
.bugs-image {
    size: auto;
    display: flex; 
    width: 100%;
    height: 100%;
}
.bugs-oplossen-2 {
    background-color: #dadada;
    width: 55%;
    margin-left: 0px;
    margin-right: auto;
    text-align: left;
    padding: 30px 60px;
    color: #24262b;
}
.bugs-oplossen-2 a {
    text-decoration: none;
    padding: 10px;
    background-color: #24262b;
    color: #bbb;
    font-size: 20px;
    border: 2px solid #24262b;
}
.bugs-oplossen-2 a:hover {
    background-color: #dadada;
    color: #24262b;
    transition: .3s;
    border: 2px solid #24262b;
}
.p-bugs {
    margin: 30px 0px 30px 0px;
    color: #24262b
}
@media screen and (max-width:880px){
    .contact-box{
        grid-template-columns: 1fr;
    }
    .left{
        height: 200px;
    }
}
@media(max-width: 980px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .div21 img{
        display: none;
    }
    .box1{
        display: contents;
        margin: 10px;
        font-size: 20px;
        padding: 10px;
    }
    .div11{
        display: contents;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}